:root {
  /* color */
  --white: #ffffff;
  --black: #222222;
  --blue: #0057b8;
  --yellow: #ffd700;
  /* fontFamily */
  --ff-primary: 'Gilroy', -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --transition: all 0.3s ease-in-out;
  --spacing: -0.02em;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-primary);
  font-style: normal;
  background: var(--white);
  color: var(--grey);
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: var(--spacing);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

strong>a {
  text-decoration: underline;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

.day-theme {
  --font-color: #112d4e;
  --bg-color: #ffffff;
  --btn-text-color: #03001c;
  --btn-active-text-color: #f9f7f7;
  --primary-cart-color: rgba(219, 226, 239, 0.5);
  --primary-color: rgba(219, 226, 239, 0.5);
  --shadow: 0 0.4rem 1rem #e6e6e6;
  --border: 0.1rem solid #dde1ea;
  --transition: all 0.3s ease-in-out;
}

.night-theme {
  --font-color: #f9f7f7;
  --bg-color: #03001c;
  --btn-text-color: #03001c;
  --btn-active-text-color: #b6eada;
  --primary-cart-color: rgba(17, 45, 78);
  --primary-color: rgba(182, 234, 218, 0.5);
  --shadow: 0 0.4rem 1rem #e6e6e6;
  --border: 0.1rem solid #dde1ea;
  --transition: all 0.3s ease-in-out;
}

.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: var(--font-color);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

main {
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: var(--bg-color);
  scrollbar-width: none;
}

.header-wrapper {
  position: relative;
  margin: 3.6rem auto 0rem;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite-button {
  position: relative;
  display: flex;
  flex-shrink: 3;
  margin: 0 0rem 0 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.non-favorite {
  display: none;
}

.active-favorite {
  position: absolute;
  padding: 0.4rem 0;
  top: -1rem;
  left: -1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(255, 172, 172);
  color: var(--font-color);
  font-size: 1.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header-form {
  display: flex;
  flex-shrink: 1;
  position: relative;
  width: 100%;
}

.header-form label {
  position: absolute;
  top: 1.9rem;
  left: 1.6rem;
  visibility: hidden;
}

.header-form input {
  border: var(--border);
  width: 100%;
  height: 6rem;
  padding: 0rem 5.5rem 0rem 1.6rem;
  border-radius: 2rem;
  background-color: var(--primary-color);
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  color: var(--btn-text-color);
  box-shadow: var(--shadow);
}

.form-find-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: none;
  background: transparent;
}

.btn-category {
  width: 100%;
  padding: 0rem 0rem 1.6rem 0rem;
  margin: 1.6rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  scrollbar-width: none;
}

.btn-category::-webkit-scrollbar {
  display: none;
}

.btn:not(:last-child) {
  margin: 0rem 1rem 0rem 0rem;
}

.btn {
  border: var(--border);
  border-radius: 2rem;
  padding: 1.3rem;
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 2rem;
  color: var(--btn-text-color);
  box-shadow: var(--shadow);
  background: var(--primary-color);
  cursor: pointer;
}

.btn-active {
  color: var(--btn-active-text-color);
  background: var(--font-color);
  cursor: pointer;
}

/* .btn:active {
  color: var(--btn-active-text-color);
  background: var(--font-color);
}
.btn:focus {
  color: var(--btn-active-text-color);
  background: var(--font-color);
} */

.recipe-list-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.recipe-item {
  padding: 0;
  margin: 0;
  flex: 0 1 auto;
}

.recipe-item-inner {
  padding: 1rem;
  margin: 0rem auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 1rem;
  background: var(--primary-cart-color);
  color: var(--font-color);
  box-shadow: var(--shadow);
  border: var(--border);
}

.image {
  margin: 0rem 0rem 1.6rem 0rem;
}

.image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 10rem;
  aspect-ratio: 3/2;
  border-radius: 1rem;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start
}

.description-title {
  margin: 0rem 0rem 0.8rem 0rem;
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 2rem;
  color: var(--font-color);
  width: 17rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite-btn {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-btn-active>svg,
.favorite-btn-active>svg>path {
  fill: rgb(255, 172, 172);
  stroke: rgb(255, 172, 172);
}

.description-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-item img {
  display: inline-flex;
  margin: 0rem 0.5rem 0rem 0rem;
}

.btn-to-top {
  position: absolute;
  bottom: 0;
  right: 0;
  border: var(--border);
  width: 6.5rem;
  height: 6rem;
  border-radius: 2rem;
  background: var(--primary-cart-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.hidden {
  visibility: hidden;
}

.error {
  margin: 15rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error h2 {
  text-align: center;
}

.recipe-wrapper {
  margin: 0rem 0rem 5rem 0rem;
  width: 100%;
}

.header-recipe-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-title {
  margin: 1rem 0rem 0rem 0rem;
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 3rem;
  color: var(--font-color);
}

.recipe-img {
  width: 100%;
  max-height: 40rem;
  object-fit: cover;
  aspect-ratio: 3/2;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.recipe-ingredient-list {
  margin: 1rem 0rem 0rem 0rem;
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--font-color);
}

.recipe-description {
  margin: 5rem 0rem 0rem 0rem;
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--font-color);
}

.header-menu-wrapper {
  margin: 1rem 0rem 1rem 0rem;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.to-back {
  display: flex;
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 2rem;
  color: var(--font-color);
}

.to-back img {
  margin-right: 1rem;
}

.error-find {
  margin-top: 2rem;
  width: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-title {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--font-color);
}

.favorite-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 5%;
  gap: 1.6rem;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: var(--bg-color);
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--border);
  -webkit-border-radius: var(--border);
  -moz-border-radius: var(--border);
  -ms-border-radius: var(--border);
  -o-border-radius: var(--border);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.recipe-item-favorite {
  padding: 1rem;
  display: flex;
  border-radius: 1rem;
  background: var(--primary-cart-color);
  color: var(--font-color);
  box-shadow: var(--shadow);
  border: var(--border);
}

.recipe-item-favorite .image {
  margin: 0rem 1.6rem 0rem 0rem;
  width: 40%;
}

.favorite-container-hiden {
  display: none;
}

.favorite-description {
  width: 100%;
}

.favorite-description-title {
  font-size: 3rem;
  font-weight: 500;
  width: 100%;
  max-width: 90%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite-close-button {
  margin: 0 auto 2rem;
  padding: 1rem 0;
  width: 98%;
  height: 5rem;
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  background: var(--primary-cart-color);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 2rem;
  color: var(--font-color);
}

.favorite-btn-delete {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (max-width: 576px) {
  .container {
    margin: 0 auto;
    max-width: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: var(--bg-color);
    scrollbar-width: none;
  }

  .header-wrapper {
    position: relative;
    margin: 3.6rem auto 0rem;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .favorite-button {
    position: relative;
    display: flex;
    flex-shrink: 3;
    margin: 0 0rem 0 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .non-favorite {
    display: none;
  }

  .active-favorite {
    position: absolute;
    padding: 0.4rem 0;
    top: -1rem;
    left: -1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(255, 172, 172);
    color: var(--font-color);
    font-size: 1.4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .header-form {
    display: flex;
    flex-shrink: 1;
    position: relative;
    width: 100%;
  }

  .header-form label {
    position: absolute;
    top: 1.9rem;
    left: 1.6rem;
    visibility: hidden;
  }

  .header-form input {
    border: var(--border);
    width: 100%;
    height: 6rem;
    padding: 0rem 5.5rem 0rem 1.6rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    color: var(--btn-text-color);
    box-shadow: var(--shadow);
  }

  .form-find-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
    background: transparent;
  }

  .btn-category {
    width: 100%;
    padding: 0rem 0rem 1.6rem 0rem;
    margin: 1.6rem 0rem 0rem 0rem;
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .btn-category::-webkit-scrollbar {
    display: none;
  }

  .btn:not(:last-child) {
    margin: 0rem 1rem 0rem 0rem;
  }

  .btn {
    border: var(--border);
    border-radius: 2rem;
    padding: 1.3rem;
    font-family: var(--ff-primary);
    font-weight: 300;
    font-size: 2rem;
    color: var(--btn-text-color);
    box-shadow: var(--shadow);
    background: var(--primary-color);
    cursor: pointer;
  }

  .btn-active {
    color: var(--btn-active-text-color);
    background: var(--font-color);
    cursor: pointer;
  }

  /* .btn:active {
  color: var(--btn-active-text-color);
  background: var(--font-color);
}
.btn:focus {
  color: var(--btn-active-text-color);
  background: var(--font-color);
} */

  .recipe-list-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .favorite-container {
    gap: 1.6rem;
  }

  .recipe-item-favorite {
    padding: 1rem;
    display: flex;
    justify-content: start;
    border-radius: 1rem;
    background: var(--primary-cart-color);
    color: var(--font-color);
    box-shadow: var(--shadow);
    border: var(--border);
  }

  .recipe-item {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .recipe-item-inner {
    padding: 1rem;
    margin: 0rem auto;
    width: 100%;
    height: 9.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-radius: 1rem;
    background: var(--primary-cart-color);
    color: var(--font-color);
    box-shadow: var(--shadow);
    border: var(--border);
  }

  .image {
    margin: 0rem 1.2rem 0rem 0rem;
  }

  .image img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 10.7rem;
    height: 7.3rem;
    aspect-ratio: 3/2;
    border-radius: 1rem;
  }

  .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .description-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .description-title {
    margin: 0rem 0rem 0rem 0rem;
    font-family: var(--ff-primary);
    font-weight: 300;
    font-size: 2rem;
    color: var(--font-color);
    width: 17rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .favorite-btn {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .favorite-btn-active>svg,
  .favorite-btn-active>svg>path {
    fill: rgb(255, 172, 172);
    stroke: rgb(255, 172, 172);
  }

  .description-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .info-item img {
    display: inline-flex;
    margin: 0rem 0.5rem 0rem 0rem;
  }

  .btn-to-top {
    position: absolute;
    bottom: 0;
    right: 0;
    border: var(--border);
    width: 6.5rem;
    height: 6rem;
    border-radius: 2rem;
    background: var(--primary-cart-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
  }

  .hidden {
    visibility: hidden;
  }

  .error {
    margin: 15rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .error h2 {
    text-align: center;
  }

  .recipe-wrapper {
    margin: 0rem 0rem 5rem 0rem;
    width: 100%;
  }

  .header-recipe-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .recipe-title {
    margin: 1rem 0rem 0rem 0rem;
    font-family: var(--ff-primary);
    font-weight: 600;
    font-size: 3rem;
    color: var(--font-color);
  }

  .recipe-img {
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }

  .recipe-ingredient-list {
    margin: 1rem 0rem 0rem 0rem;
    font-family: var(--ff-primary);
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--font-color);
  }

  .recipe-description {
    margin: 5rem 0rem 0rem 0rem;
    font-family: var(--ff-primary);
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--font-color);
  }

  .header-menu-wrapper {
    margin: 1rem 0rem 1rem 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
  }

  .to-back {
    display: flex;
    font-family: var(--ff-primary);
    font-weight: 600;
    font-size: 2rem;
    color: var(--font-color);
  }

  .to-back img {
    margin-right: 1rem;
  }

  .error-find {
    margin-top: 2rem;
    width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error-title {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--font-color);
  }

  .favorite-container {
    display: flex;
    flex-direction: column;
    padding: 4rem 5%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background: var(--bg-color);
    border: var(--border);
    box-shadow: var(--shadow);
    border-radius: var(--border);
    -webkit-border-radius: var(--border);
    -moz-border-radius: var(--border);
    -ms-border-radius: var(--border);
    -o-border-radius: var(--border);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
  }

  .favorite-container-hiden {
    display: none;
  }

  .favorite-description {
    width: 100%;
  }

  .favorite-description-title {
    font-size: 2rem;
    width: 16rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .favorite-close-button {
    margin: 0 auto 2rem;
    padding: 1rem 0;
    width: 98%;
    height: 5rem;
    border: var(--border);
    box-shadow: var(--shadow);
    border-radius: 1rem;
    background: var(--primary-cart-color);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-family: var(--ff-primary);
    font-weight: 300;
    font-size: 2rem;
    color: var(--font-color);
  }

  .favorite-btn-delete {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}